.env
secrets.toml
*.mp3
# Python virtual environment
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/

# Jupyter Notebook
.ipynb_checkpoints

# Googletrans installation files
googletrans/
